
<h1>
  <%= @title %>
</h1>
<p>
  Part of our overlord <a href="http://www.michaelhartl.com/">Tau Lover's</a> <a href="http://www.railstutorial.org/">tutorial</a> series on the right way to do RoR <strong>Ruby on Rails 3 Live Lessons: Learning by doing</strong>
</p>

<p>
  This app is made using the tutorial for Rails 3, but the runtime environment is: 
</p>

<div>
  <% # ::Rails::Info is the info in /rails/info/properties page %>
  <% # <%== is as good as <% raw  %>
  <%== ::Rails::Info.to_html %>
</div>