<%= render('pages/heading') %>

<p>
  Get help on this Ruby on Rails tutorial <a href="http://www.railstutorial.org/help">Rails tutorial help page</a>.
  <br>
  For more information, you can check out the <a href="http://www.railstutorial.orb/book">Ruby on Rails tutorial book</a>.
</p>
