<%= render('pages/heading') %>

<p>
  Hullo Thar! This page is the home page of the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>'s Sample App
</p>

<p>
  Interested in the details?
</p>

<%= link_to('Sign up now!', '#', class: 'signup_button round') %>
