<h1><%= @title %></h1>
<p>
  Hullo Thar! This page is the home page of the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>'s Sample App
</p>

<p>
  Interested?
</p>

<%= link_to('Sign up now!', '#', class: 'signup_button round') %>
